
@media screen and (max-width: 550px){
body{
  overflow-x:hidden;
}
  .filter-options{
    display: inline-table;
    text-align: center;
  }
  nav a{
    font-size: 10pt;
    letter-spacing: 4px;
  }
}


@media screen and (max-width: 750px){
  nav a{
    font-size:0.7em;
  }

  #restaurant-container{

    width: 100vw;
  }

  .inside{
    display:flex;
    flex-wrap:wrap;
  }

  /*Restaurant Details */
  .inside header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000
  }
  .inside #map-container {
    position: relative;
    height: 50vw;
    margin-top:80px;
    width: 100%;

  }#map-container {
    width:100%;
  }
   #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;

  }
  .inside #footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
  }
  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
  	width: 90vw;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;

    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
  	width: 100%;
  }
  #restaurant-container, #reviews-container {

    width: 90vw;
  }
  #reviews-container {
  width: 90vw;
  }

  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
  overflow:hidden;

    position: relative;
    width: 80vw;



  }



@media screen and (min-width: 750px){
#restaurants-list p{
  font-size: 15px;
}

  #breadcrumb{
    width: 47%;
  }
  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 45%;
    height:calc(100% - (10%));
  }
   #map{
    height:100%;
  }
  #reviews-container{
    width:45%;

  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
  overflow:hidden;

    position: relative;
    width: 85%;



  }
  .inside #footer{
    width:100%;
  }
  #restaurant-img {
  	width: 100%;
  }
}


@media screen and (min-width:950px){
  #restaurants-list p{
    font-size: 15px;
  }
  #restaurants-list li a{
    font-size: 15px;
  }
  #breadcrumb{
    width: 45%;
  }

  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 45%;
    height:calc(100% - (13%));
    top: 80px;
    margin-top: 80px;
  }
  #map{
    width: 100%;
    height: 100%;
  }
  #reviews-container{
    width:45%;

  }
  #reviews-list li {
    width:85%;
  }
  .inside #footer{
    width:100%;
    font-size:15px;
  }
  #restaurant-img {
  	width: 100%;
  }
}
