@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {

	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	display: flex;
	flex-wrap: wrap;
flex-direction: column;
align-items: center;
}
ul, li {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: #CCCCCC;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
	border-width:thick;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;

}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #1A1A1A;
  color: #CCCCCC;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	width:calc(100% - 50px);
}
/* ================================================================ Navigation ================================================================ */
nav {
  width: 100vw;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1{
	margin:auto;
}
nav  a {
	margin:auto;
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;

	line-height: 80px;
}
#breadcrumb {
	height: 70%;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100vw;
}

/*=============================================================== Display list items side by side ========================================================*/
#breadcrumb li {
    display: inline;
}

/*================================================== Add a slash symbol (/) before/behind each list item ========================================================*/
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* ===================================Add a color to all links inside the list ========================================================*/
#breadcrumb li a {
    color: #0E5280;
    text-decoration: none;
}

/* ===============================================================Add a color on mouse-over========================================== */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.map_toggle img{
	position: absolute;
	  width: 30px;
	  right: 10px;
}

/* ========================================================== Aria / Accesibility =================================================================================== */
/*adding style hidden for skipping google maps */
.hidden
{position:absolute;
left:-10000px;
top:0;
width:max-content;
padding: 8px;
color: white;
overflow:hidden;
z-index: 1000;
background: #BF1722;
}
.hidden:focus{
	left:0;
}

/* ================================================================ Focus ================================================================================ */
button:focus,
button:hover,
select:focus,
select:hover {
  outline: 2px solid black;
}
[role="listbox"].focus {
  border-color: #348ccb;
}
[role="listbox"] [role="option"]{

  margin: 0.25em;
  padding: 0;
  background-color: #eee;
  font-size: 100%;
}
[role="listbox"] [role="option"][aria-selected="true"] {
  background-color: #ccc;
}
[role="listbox"].focus [role="option"][aria-selected="true"] {
  background-color: #aed2ea;
  border-color: #348ccb;
}
[role="listbox"] li[role="option"]:hover {
  background-color: #c2ddef;
}



nav > li > a:hover,
nav > li > a:focus {
	background: #C2185B;
	  color: #FFFFFF;
	  text-decoration: underline;
	  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
	              0 3px 1px -2px rgba(0, 0, 0, .2),
	              0 1px 5px 0 rgba(0, 0, 0, .12);


}
/* =================================================================== Map-Container =========================================================== */

#map-container{
	width: 100%;
	height:400px;
	overflow: hidden;
	display:none;
}

/* ========================================================================= Map ================================================================ */
#map {
	order: 1;
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ============================================================= Restaurant Filtering ================================================================ */
.filter-options {
  width: 100%;
  height: 70px;
  background-color: #006400;
  align-items: center;
	display: inline-flex;
}
.filter-options h2 {
	padding-top: 5px;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


/* ===================================================================== Restaurant Listing ========================================================= */
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
	justify-content: center;

}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 30px;
  text-align: center;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #002E00;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #002E00;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover{
  background-color: #006400;

}

button#favorite-btn.favorite  {
  float:right;
     background-color: green;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
    
}
 button#favorite-btn.favorite:hover {
  background-color: #008CBA;
}


  button#favorite-btn.unfavorite {
   float:right;
     background-color: #70c600;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
}

 button#favorite-btn.unfavorite:hover {
  background-color: #4CAF50;
}





/* ============================================================== Restaurant Details ====================================================================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {

  height: 100%;
  position: absolute;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: fixed;
  width: 100vw;
}
#restaurant-name {
  float:left;
  color: #002E00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

/*=============================================================== Reviews List ============================================================= */

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 140px 40px 30px;
  width: 45%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #002E00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;

  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 100%;
	border-radius: 20px 0px 0px;
}
#reviews-list p{
	display: block;
}

.restraurant-reviewer-name {
float: left;
}
.date-of-creation {
	float:right;
}
.review-rating{
	display:block;
	width: max-content;

}
#restaurant-hours td {
  color: #666;
}

/* ========================================= FORM ========================================================================*/
#reviewForm123{
  margin: 0 auto;
  padding: 4em 4em 4em;
  max-width: 400px;
  
 /* box-shadow: 0 0 1em #222;*/
  border-radius: 2px;
}
#reviewForm123 h2{
margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
  }
#reviewForm123 input, textarea, select{
display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
    
   
}

#reviewForm123 input:focus,textarea:focus,textarea:hover, input:hover {
  color: #111;
  border-color: #444;
}

#reviewForm123  input[type="button"] {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #0E5280;
  border: 2px solid #0E5280;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

#reviewForm123 input[type="button"]:hover {
  background-color: #2194e0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
  }

#reviewForm123 input[type="button"]:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
  }
#reviewForm123 input[type="button"]:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
  }

#reviewForm123 label{
    color: #002E00;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
     
  }
  /*orientation at https://www.w3schools.com/howto/howto_js_alert.asp*/
.notvalid{
  border-radius: 10px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;

}
/*=============================== Media Quereies ================================================================ */
@media screen and (min-width: 750px){
#restaurants-list p{
  font-size: 15px;
}

  #breadcrumb{
    width: 47%;
  }
  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 45%;
    height:calc(100% - (10%));
  }
   #map{
    height:100%;
  }
  #reviews-container, #review-form{
    width:45%;

  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
  overflow:hidden;

    position: relative;
    width: 85%;



  }
  .inside #footer{
    width:100%;
  }
  #restaurant-img {
  	width: 100%;
  }
}




/*============================== Media Queries greater than 950px ============================== */


@media screen and (min-width:950px){
  #restaurants-list p{
    font-size: 15px;
  }
  #restaurants-list li a{
    font-size: 15px;
  }
  #breadcrumb{
    width: 45%;
  }

  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 47%;
    height:calc(100% - (13%));
    top: 80px;
    margin-top: 80px;
  }
  #map{
    width: 100%;
    height: 100%;
  }
  #reviews-container, #review-form{
    width:45%;

  }
  #reviews-list li {
    width:85%;
  }
  .inside #footer{
    width:100%;
    font-size:15px;
  }
  #restaurant-img {
  	width: 100%;
  }
}

/*=============================================== Screen size upto 750 px ======================================================================*/

@media screen and (max-width: 750px){
  nav a{
    font-size:0.7em;
  }

  #restaurant-container{

    width: 100vw;
  }

  .inside{
    display:flex;
    flex-wrap:wrap;
  }

  /*Restaurant Details */
  .inside header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000
  }
  .inside #map-container {
    position: relative;
    height: 50vw;
    margin-top:80px;
    width: 100%;

  }#map-container {
    width:100%;
  }
   #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;

  }
  .inside #footer {
    bottom: 0;
    position: fixed;
    width: 100vw;
  }
  #restaurant-name {
    color: #002E00;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
  	width: 90vw;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;

    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
  	width: 100%;
  }
  #restaurant-container, #reviews-container, #review-form{

    width: 90vw;
  }
  #reviews-container, #review-form{
  width: 90vw;
  }

  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    overflow:hidden;
    position: relative;
    width: 80vw;
  }

/*=============================================== Screen wider than 750 px ======================================================================*/
@media screen and (min-width: 750px){
#restaurants-list p{
  font-size: 15px;
}

  #breadcrumb{
    width: 47%;
  }
  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 45%;
    height:calc(100% - (10%));
  }
   #map{
    height:100%;
  }
  #reviews-container, #review-form{
    width:45%;

  }
  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
  overflow:hidden;

    position: relative;
    width: 85%;



  }
  .inside #footer{
    width:100%;
  }
  #restaurant-img {
  	width: 100%;
  }
}


/*=============================================== Screen wider than 950 px ======================================================================*/
@media screen and (min-width:950px){
  #restaurants-list p{
    font-size: 15px;
  }
  #restaurants-list li a{
    font-size: 15px;
  }
  #breadcrumb{
    width: 45%;
  }

  #restaurant-container{
    width: 45%;

  }
  .inside #map-container{
    position: absolute;
    width: 45%;
    height:calc(100% - (13%));
    top: 80px;
    margin-top: 80px;
  }
  #map{
    width: 100%;
    height: 100%;
  }
  #reviews-container, #review-form{
    width:45%;

  }
  #reviews-list li {
    width:85%;
  }
  .inside #footer{
    width:100%;
    font-size:15px;
  }
  #restaurant-img {
  	width: 100%;
  }
}

/*=============================================== Screen wider than 1120 px ======================================================================*/
@media screen and (min-width:1120px){
  .inside #map-container{
    position: absolute;
    width: 48%;
    height:calc(100% - (13%));
    top: 80px;
    margin-top: 80px;
    display:none;
  }
}
@media screen and (min-width:1400px){
  .inside #map-container{
width:49%;
  }
}

@media screen and (min-width:1600px){
  .inside #map-container{
width:50%;
  }
}

@media screen and (max-width: 550px){
body{
  overflow-x:hidden;
}
  .filter-options{
    display: inline-table;
    text-align: center;
  }
  nav a{
    font-size: 10pt;
    letter-spacing: 4px;
  }
}
